<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <!-- <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script> -->
    404,你访问的页面找不回来了！
  </head>
  <body></body>
</html>